<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kensure.mdt.dao.MdtTeamMapper"><!--dsName="" saasAspect=""-->
	<!-- <cache readOnly="true"/> -->
    <sql id="allFields">
		id,
		proposer,
		name,
		date,
		standard,
		audit_status as auditStatus,
		audit_result1 as auditResult1,
		audit_opinion1 as auditOpinion1,
		audit_result2 as auditResult2,
		audit_opinion2 as auditOpinion2,
		audit_result3 as auditResult3,
		audit_opinion3 as auditOpinion3,
		create_userid as createUserid,
		create_dept as createDept,
		is_delete as isDelete,
		create_time as createTime,
		update_time as updateTime
    </sql>
    
	<sql id="insertFields">
		id,
		proposer,
		name,
		date,
		standard,
		audit_status,
		audit_result1,
		audit_opinion1,
		audit_result2,
		audit_opinion2,
		audit_result3,
		audit_opinion3,
		create_userid,
		create_dept,
		is_delete,
		create_time,
		update_time
    </sql>
	
	<insert id="insert" parameterType="com.kensure.mdt.entity.MdtTeam">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
			SELECT LAST_INSERT_ID()
		</selectKey>

		insert into mdt_team (<include refid="insertFields"/>)
		values (
			#{id},
			#{proposer},
			#{name},
			#{date},
			#{standard},
			#{auditStatus},
			#{auditResult1},
			#{auditOpinion1},
			#{auditResult2},
			#{auditOpinion2},
			#{auditResult3},
			#{auditOpinion3},
			#{createUserid},
			#{createDept},
			#{isDelete},
			#{createTime},
			#{updateTime}
		)
	</insert>	
	
    <sql id="whereClause">
		<if test="proposer != null">			
			proposer = #{proposer}			
		</if>
		<if test="name != null">			
			and name = #{name}			
		</if>
		<if test="date != null">			
			and date = #{date}			
		</if>
		<if test="standard != null">			
			and standard = #{standard}			
		</if>
		<if test="auditStatus != null">			
			and audit_status = #{auditStatus}			
		</if>
		<if test="auditResult1 != null">			
			and audit_result1 = #{auditResult1}			
		</if>
		<if test="auditOpinion1 != null">			
			and audit_opinion1 = #{auditOpinion1}			
		</if>
		<if test="auditResult2 != null">			
			and audit_result2 = #{auditResult2}			
		</if>
		<if test="auditOpinion2 != null">			
			and audit_opinion2 = #{auditOpinion2}			
		</if>
		<if test="auditResult3 != null">			
			and audit_result3 = #{auditResult3}			
		</if>
		<if test="auditOpinion3 != null">			
			and audit_opinion3 = #{auditOpinion3}			
		</if>
		<if test="isDelete != null">			
			and is_delete = #{isDelete}			
		</if>
		<if test="createTime != null">			
			and create_time = #{createTime}			
		</if>
		<if test="updateTime != null">			
			and update_time = #{updateTime}			
		</if>
	</sql>
    
	<select id="selectOne" resultType="com.kensure.mdt.entity.MdtTeam" parameterType="Long" >
		select <include refid="allFields"/> 
		  from mdt_team 
		 where id = #{id} 
	</select>
	
	<select id="selectByIds" parameterType="List" resultType="com.kensure.mdt.entity.MdtTeam">
		select <include refid="allFields"/> from mdt_team 
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="selectCountByWhere" parameterType="Map" resultType="Long">
		select count(*) from mdt_team 
		<where>
		    <include refid="whereClause"/>
		</where>
	</select>

	<select id="selectByWhere" parameterType="Map" resultType="com.kensure.mdt.entity.MdtTeam">
		select <include refid="allFields"/>
		from mdt_team 
		<where>
		    <include refid="whereClause"/>
		</where>				
		<if test="orderby != null">
			ORDER BY ${orderby}
		</if>
	</select>
	
	<sql id="setComn">		
		<if test="proposer != null">
			proposer = #{proposer},
		</if>
		<if test="name != null">
			name = #{name},
		</if>
		<if test="date != null">
			date = #{date},
		</if>
		<if test="standard != null">
			standard = #{standard},
		</if>
		<if test="auditStatus != null">
			audit_status = #{auditStatus},
		</if>
		<if test="auditResult1 != null">
			audit_result1 = #{auditResult1},
		</if>
		<if test="auditOpinion1 != null">
			audit_opinion1 = #{auditOpinion1},
		</if>
		<if test="auditResult2 != null">
			audit_result2 = #{auditResult2},
		</if>
		<if test="auditOpinion2 != null">
			audit_opinion2 = #{auditOpinion2},
		</if>
		<if test="auditResult3 != null">
			audit_result3 = #{auditResult3},
		</if>
		<if test="auditOpinion3 != null">
			audit_opinion3 = #{auditOpinion3},
		</if>
		<if test="isDelete != null">
			is_delete = #{isDelete},
		</if>
		<if test="createTime != null">
			create_time = #{createTime},
		</if>
		<if test="updateTime != null">
			update_time = #{updateTime}
		</if>
	</sql>
	
	<update id="update" parameterType="com.kensure.mdt.entity.MdtTeam">
		 update mdt_team 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<update id="updateByMap" parameterType="Map">
		 update mdt_team 
		    <set>
		    	<include refid="setComn"/>
			</set>
		  where id = #{id}
	</update>
	
	<delete id="delete">
		delete from mdt_team where id = #{id}
	</delete>
	
	<delete id="deleteMulti" parameterType="List">
		delete from mdt_team
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteByWhere" parameterType="Map">
		delete from mdt_team 
		<where>
		    <include refid="whereClause"/>
		</where>
	</delete>	

</mapper>    
